.InputBody {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

.InputCategory {
    display: flex;
    flex-flow: column nowrap;
}

.InputRow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow: hidden;
}

.InputRow.hide {
    display: none;
}

.Label {
    width: 30%;

    text-align: right;
}

.Input {
    width: 70%;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.Answer {
    width: 70%;
}

.Answer.correct {
    color: lightGreen;
}

.Answer.incorrect {
    color: tomato;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25%,
    75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

.hidden {
    display: none;
}

/* #caret {
    position: fixed;
    top: 10%;
    left: 20%;
    height: 1.25rem;
    width: 2px;

    background-color: var(--primaryColor);

    transition: top 70ms cubic-bezier(.2,.77,.57,1.16), left 70ms cubic-bezier(.2,.77,.57,1.16);
} */
