$marginSize: 0.5rem;

$backgroundColor: #232427;
$hoverColor: #606060;
$primaryColor: #d67e0b;
$secondaryColor: #1481ba;

$fontFamily: "Roboto Mono", monospace;
$fontSize: 24px;
$fontWeight: 700;
$fontColor: #ebebeb;
$fontColorSecondary: #a0a0a0;